/* Google Font Embed */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Universal Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Now base rem = 10rem */
}

:root{
    --color-brand: #FF900E;
    --color-primary: #131313;
    --color-secondary: #424242;
    --color-muted: #727272;
    --bg-main: rgba(255, 144, 14, 0.1);
    --bg-surface: white;
    --bg-footer: #FFF4E7;
    
    --text-title: clamp(1.75rem, 1.4464rem + 1.5179vw, 2.8125rem);
    --text-menu: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    --text-hero: clamp(2.1875rem, 1.6518rem + 2.6786vw, 4.0625rem);
    --text-base: clamp(1rem, 1rem + 0vw, 1rem);
}
/* Common Style */
.main-container{
    max-width: 1140px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}

/* Custom Style */
nav{
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
}
#menu{
    list-style: none;
    gap: 20px;   
}
#logo{
    font-size: 4.5rem;
    color: var(--text-primary);
    font-size: var(--text-title);
}
#menu a{
    text-decoration: none;
    color: var(--text-secondary);
    font-size: var(--text-menu);
}
/* Banner */
#banner{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#banner .banner-content h1{
    font-size: var(--text-hero);
}
#banner .banner-content h1{
    font-size: var(--text-base);
}
#banner img{
    width: 100%;
}